/**Google Fonts **/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

/**Variables**/
:root {
    --main-color: rgb(253, 158, 33);
    --second-color: hsl(46, 100%, 71%);
    --main-color-light: rgb(255, 214, 126);
        --second-color-light: hsl(52, 100%, 77%);
    --trhird-color: #efefefab;
    --text-color: #314862;
    --bg-color: #fff;
    --header-height: 3.5rem;
    --gradient: linear-gradient(rgb(253, 158, 33), hsl(46, 100%, 71%));
    --cb: cubic-bezier(0.05, 0.61, 0.41, 0.95);

    /**Box Shadow **/
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

body {
    color: var(--text-color);
    background: var(--second-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #314862;
    border-radius: 8px;
}
.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 30px;
    background-color: var(--main-color);
}
.container form{
    position: relative;
    min-height: 490px;
    background-color: #fff;
    margin-top: 16px;
}
.container form .details {
    margin-top: 30px;
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0px;
    color: #333;
}


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dadce0;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.30);
}
.box .inputBox{position: relative;}
.box .inputBox input{
    width: 87%;
    padding: 0.8rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid rgb(121, 152, 255);
    background: transparent;
    border-radius: 6px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: var(--text-color);
    pointer-events: none;
    transition: 0.3s;
}

.box input[type="submit"]{
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
}
.box input[type="submit"]:hover {
    background-color: var(--second-color);
    color: var(--text-color);
    font-weight: bold;
    transition: 0.5s;
}
.box input[type="datetime-local"]{
    padding: 1.53rem;
    cursor: pointer;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label{
    top: -0.56rem;
    left: 10px;
    color: var(--main-color);
    font-size: 1rem;
    background-color: #fff;
    height: 25px;
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: 0.09rem;
}
.box .inputBox input:focus{
    outline: none;
     border: 2px solid var(--main-color);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.30);
}
.bx:hover{
    color: var(--main-color);
}

.btn {
    padding: 12px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.4rem;
    margin:0 auto;
    border: 1 solid var(--bg-color);
    font-size: 15px;
    margin-left: 32rem;
}
.btn:hover {
    background: var(--second-color);
    color:#000;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .container{
        max-width: 100%;
    }
    .box .inputBox input{
        width: 100%;

    }

    .box .inputBox label{
        padding: 0.625rem 0;
        font-size: 0.828rem;
    }

    .box .inputBox input:focus ~ label,
    .box .inputBox input:valid ~ label,
    .box .inputBox input:not([value=""]) ~ label{
        top: -0.56rem;
        left: 10px;
        color: var(--main-color);
        font-size: 0.5rem;
        background-color: #fff;
        height: 25px;
        padding: 0 10px;
        font-weight: 600;
        letter-spacing: 0.09rem;
    }
    .btn {
        padding: 12px;
        background: var(--main-color);
        color: var(--bg-color);
        border-radius: 0.4rem;
        margin:0 auto;
        border: 1 solid var(--bg-color);
        font-size: 1rem;
        margin-left: 1.5rem;




{